useDynLib(ddgraph)
importFrom(bnlearn, hc, bn.fit, empty.graph, set.arc, random.graph, graphviz.plot, path, amat, nbr, mb,
	iamb, fast.iamb, mmpc, mmhc, inter.iamb, ci.test)
importFrom(gtools, combinations)
importFrom(MASS, fitdistr)
importFrom(methods, setGeneric, setClass, representation, new, as, show, setMethod, signature, setValidity)
importFrom(pcalg, pc, skeleton, binCItest)
importFrom(plotrix, color.legend, gradient.rect)
importFrom(RColorBrewer, brewer.pal)
importFrom(Rcpp, evalCpp)
exportClasses(FurlongDataSet)
exportClasses(DDDataSet)
exportClasses(DDGraph)
exportClasses(CITestResult)
exportClasses(DDGraphEdge)
exportClasses(NCPCRobustness)
export(calcDependence)
exportMethods(ciTest)
export(mcX2Test)
export(mcMITest)
export(mcX2TestB50k)
export(combinationsTest)
export(blockingVariables)
export(blockingNodes)
export(activePaths)
exportMethods(names)
exportMethods(signalMatrix)
exportMethods(classLabels)
exportMethods(toDDDataSet)
export(readFurlongData)
exportMethods(rawData)
exportMethods(dataType)
exportMethods(datasetName)
exportMethods(variableNames)
export(makeDDDataSet)
export(is.binary)
export(convertToFactor)
export(ncpc)
export(plotBNLearn)
export(customPlotPCAlgo)
export(plotPCalg)
export(pcalgMB)
export(pcalgNBR)
export(convertPvalueToColorIndex)
export(mapEnrichmentToColors)
export(mapEnrichmentToColorsDual)
exportMethods(plot)
export(estimateNetworkDistribution)
export(prob.distr.unif)
export(prob.distr.norm)
export(random.bn.fit)
export(biased.graph)
export(biased.bn.fit)
export(independent.contributions.formula)
export(formulaFalseNeg)
export(independent.contributions.formula.mul)
export(ncpcResampling)
export(logseq)
export(recalculateSVMparams)
